html {
    font-size: 100%;
}

body {
    position: relative;
    /* background-color: rgba(216, 241, 245, 0.296); */
    background-image: linear-gradient(to bottom, rgb(213, 240, 246), rgb(251, 201, 209, 0.5), pink);
    height: 45rem;
    display: flex;
    justify-content: center;
    overflow-y: hidden;
}

#calc {
    background-color: rgb(207, 249, 246);
    height: 25rem;
    width: 43rem;
    margin: 4rem;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0px 8px 9px #888888;
    /* align-items: center; */
    /* box-shadow: 8px 8px 5px #888888 inset; */
    /* box-shadow: 10px -7px 15px darkgray, lightgreen 0px 0px 3px inset; */
}

#display {
    height: 4rem;
    width: 40rem;
    margin-bottom: 1.2rem;
    padding: 0rem 1.5rem;
    /* padding: 1rem; */
}

input {
    position: absolute;
    border-radius: 0.5rem;
    width: 39rem;
    height: 3.8rem;
    text-align: right;
    /* font-size: xx-large; */
    /* margin: 0rem 1rem; */
    /* box-shadow: 0px 8px 9px #888888; */
    box-shadow: inset 8px 8px 8px #888888d8,
        inset -8px -8px 8px pink;
    /* box-shadow: inset 8px 8px 8px #b3b2b2d8,
        inset -8px -8px 13px #acacacd8; */
    background-color: rgb(255, 209, 218, 1);
    border: none;
    outline: none;
    font-size: x-large;
    color: #4f4e4e;
    padding-right: 1rem;
}

#display:hover {
    margin-left: 0%;
    /* height: 4.3rem;
    width: 24rem; */
    /* transition: transform 5s ease-in-out; */
    transform: scale(1.05);
    opacity: 0.9;
}

#buttons {
    /* width: 50rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: x-large;
}

.rows button {
    width: 4.5rem;
    height: 3rem;
    margin: 0.5rem;
    outline: none;
    border: none;
    border-radius: 15rem;
    background-color: rgb(255, 209, 218);
    box-shadow: 0px 8px 9px #888888;
}
/* .rows button {
    width: 3.5rem;
    height: 3.5rem;
    margin: 0.5rem;
    outline: none;
    border: none;
    border-radius: 59rem;
    background-color: rgb(255, 209, 218);
    box-shadow: 0px 8px 9px #888888;
} */

.rows .bigbtn {
    width: 10.4rem;
    height: 3rem;
    margin: 0.5rem;
    outline: none;
    border: none;
    border-radius: 1.5rem;
    /* background-color: rgb(255, 209'
    , 218 , 1); */
    background-color: rgb(255, 152, 172);
    box-shadow: 0px 8px 9px #888888;
}


.rows .diffcol {
    background-color: rgb(255, 152, 172);
}

button:active {
    opacity: 1;
    background-color: #d1ced1;
    box-shadow: 0px 8px 9px #888888 inset;
}

.bigbtn:active {

    opacity: 1;
    background-color: #d1ced1;
    box-shadow: 0px 8px 9px #888888 inset;
}

.diffcol:active {
    opacity: 1;
    background-color: #d1ced1;
    box-shadow: 0px 8px 9px #888888 inset;

}

button:hover {
    transform: scale(1.2);
    opacity: 0.9;
}



@media (max-width: 850px) {
    html {
        font-size: 80%;

    }
}

@media (max-width: 700px) {

    html {
        font-size: 70%;
    }
}

@media (max-width: 600px) {

    html {
        font-size: 50%;
    }
}

@media (max-width: 500px) {

    html {
        font-size: 40%;
    }
}